// =======================
// Classes
// =======================
.clearfix{
	&:before, &:after{
		display: table;
		content: "";
		visibility: hidden;
	}
	&:after {
		clear: both;
	}
}


// =======================
// Colors
// =======================
$black: #222;
$dark-orange: #f36f21;
$light-orange: #fdbd10;
$trans-white:rgba(255,255,255,0.2);
$spotify-green: #1ed760;
$songkick-pink: #f80046;


// =======================
// Fonts
// =======================
@font-face{
	font-family: 'icomoon';
	src:url('/fonts/icomoon/icomoon.eot?ctq5u1');
	src:url('/fonts/icomoon/icomoon.eot?#iefix-ctq5u1') format('embedded-opentype'),
		url('/fonts/icomoon/icomoon.woff?ctq5u1') format('woff'),
		url('/fonts/icomoon/icomoon.ttf?ctq5u1') format('truetype'),
		url('/fonts/icomoon/icomoon.svg?ctq5u1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


// =========================
// Media Query Definitions
// =========================
$mqs: (
  small: 25em,
  medium: 40em,
  large: 50em,
  extra-large: 1000px,
  huge: 100em
);

@mixin smaller-than($size) {

  $width: map-get($mqs, $size);
  @media (max-width: $width) {
    @content;
  }
}

@mixin larger-than($size) {

  $width: map-get($mqs, $size);
  @media (min-width: $width) {
    @content;
  }
}


// =======================
// Base
// =======================
*, *:after, *:before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	padding: 8em 6em;
  font: 400 14px "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  color: white;
  background: #fdbd10;
  background: -moz-linear-gradient(45deg,  $light-orange 1%, $dark-orange 100%);
  background: -webkit-linear-gradient(45deg,  $light-orange 1%,$dark-orange 100%);
  background: linear-gradient(45deg,  $light-orange 1%,$dark-orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbd10', endColorstr='#f36f21',GradientType=1 );
  height: 100%;

  @include smaller-than(large){
  	padding: 2.5em 2em;
  }
}

li{
	list-style-type: none;
}


// =======================
// Typography
// =======================
h2{
	font-weight: 700;
	font-size: 4em;
	margin-bottom: 0.25em;
}

h3{
	font-size: 2em;
	font-weight: 400;
}

h4{
	font-size: 2.2em;
	font-weight: 700;
}

p{
	font-size: 1.4em;

	&+p{
		margin-top: 1em;
	}
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:hover{
  	text-decoration: none;
  }
}


// =======================
// Form Elements
// =======================
.btn-rounded{
	display: inline-block;
	width: auto;
	border-radius: 2em;
	font-weight: 500;
}


// =======================
// Icons
// =======================
.icon{
	&:after{
		font-family: 'icomoon';
		position: relative;
	}
}

.locate-icon:after{
	content: '\e900';
}

.twitter-icon:after{
	content: '\e902';
}

.fbook-icon:after{
	content: '\e901';
}

.link-icon:after{
	content: '\e903';
}

.spotify-icon:after{
	content: '\e904';
}

.songkick-icon:after{
	content: '\e905';
}

// =======================
// Homepage
// =======================
.homepage{
	@include smaller-than(large){
		font-size: 60%;
	}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.homepage-header{
	margin-bottom: 6em;
	opacity: 0;
	animation-duration: 2s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
	animation-name: fadeIn;

	h1{
		margin-bottom: 0.2em;
		line-height: 1.1;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 8em;

		a:hover, a:focus{
			color: rgba(255,255,255,0.8);
		}
	}

	span{
		display: block;
		margin-top: 1em;
	}

	.locate-me-btn{
		font-weight: 700;

		&:after{
			font-size: 0.5em;
			padding-left: 0.5em;
		}

		&:hover, &:hover:after, &:focus, &:focus:after{
			color: rgba(255,255,255,0.8);
		}
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0.2em);
    transform: translateY(0.2em);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@for $i from 1 to 5 {
  .city-list-item:nth-child(#{$i}) { animation-delay: $i * 0.15s; }
}

.city-list-item{
	display: inline-block;
	position: relative;
	width: 100%;
	margin-bottom: 0.5em;
	font-size: 4em;
	font-weight: 700;
	border: 6px solid white;
	border-radius: 1px;
	cursor: pointer;
	opacity: 0;
	animation-duration: 2s;
	transition-timing-function: ease-out;
	animation-fill-mode: both;
	animation-name: fadeInUp;

	&:hover, &:focus{
		outline: 0;
		svg{
			display: inline-block;
			color: transparent;
		}

		a{
			opacity: 0;
		}
	}

	a{
		display: block;
		padding: 0.25em 0 0.3em 0.5em;
		color: white;
		outline: 0;
	}

	svg{
		display: none;
		fill: white;
		position: absolute;
		top: 0;
		left: 0;
		right: -1px;
		bottom: -1px;
	}
}


// =======================
// City Playlist
// =======================
.global-home-link{
	position: absolute;
	top: 1em;
	left: 1.5em;
	font-size: 1.2em;

	&:hover, &:focus{
		color: rgba(255,255,255,0.8);
	}

	span{
		font-size: 1.5em;
		vertical-align: sub;
	}
}

.city-playlist-page{
	text-align: center;
}

.city-playlist-header{
	h2{
		display: inline;
	}

	h3{
		margin: 0 auto;

		@include larger-than(large){
			width: 60%;
		}
	}

	@include smaller-than(large){
		margin-top: 4em;
	}
}

.social-wrapper{
	display: inline-block;
	width: 90px;
	padding-left: 10px;
	margin-right: -90px;

	ul, li{
		display: inline-block;
	}

	.icon{
		display: inline-block;
		padding: 0 0.25em;
		cursor: pointer;

		&:after{
			color: white;
			font-size: 1.2em;
		}
		&:focus{
			outline: 0;
		}
	}

	.twitter-icon{
		&:hover:after, &:focus:after{
			color: #00aced;
		}
	}

	.fbook-icon{
		&:hover:after, &:focus:after{
			color: #3b5998;
		}
	}

	.link-icon{
		&:hover:after, &:focus:after{
			color: $black;
		}
	}
}

.url-copy-success{
	position: relative;

	&:before, &:after{
		position: absolute;
		bottom: 150%;
		left: 50%;
		animation-duration: 2s;
		transition-timing-function: ease;
		animation-name: tooltipFadeInOut;
		opacity: 0;
	}

	&:before{
		content: 'Link Copied!';
		margin-left: -50px;
		margin-bottom: 5px;
		padding: 10px;
		width: 100px;
		border-radius: 3px;
		background-color: $black;
		font-size: 0.9em;
	}

	&:after{
		content: "";
		width: 0;
		margin-left: -5px;
		border-top: 5px solid $black;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
	}
}

@keyframes tooltipFadeInOut {
  0%, 90% {
    opacity: 1;
  }

  100% {
  	opacity: 0;
  }
}

.playlist-subscribe-link{
	padding: 0.4em 1em 0.5em;
	margin: 2em 0 2.3em;
	background: $black;
	font-size: 1.4em;

	&:after{
		top: 3px;
		margin-left: 10px;
	}

	&:hover, &:focus{
		background: $spotify-green;
		outline: 0;
	}
}

.city-playlist-wrapper{
	@extend .clearfix;
	position: relative;
	margin: 0 auto;

	@include larger-than(extra-large){
		width: 80%;
	}
}

.gig-info-list{
	table{
		width: 100%;
		margin-top: -1px;
		border-spacing: 0 1px;
	}
}

.gig-info-list-header{
	@include smaller-than(medium){
		display: none;
	}

	th{
		height: 80px;
		padding: 0 0 5px 14px;
		text-align: left;
		background: $trans-white;
		vertical-align: bottom;
	}
}

.gig-info-list-item{
	position: relative;
	font-weight: 500;
	text-align: left;
	font-size: 1em;
	background: $trans-white;
	letter-spacing: 0.25px;

	td{
		@include smaller-than(medium){
			display: block;
			padding-left: 80px;
			position: relative;
		}
	}

	span{
		display: inline-block;
		width: 100%;
		padding: 15px 5px 15px 15px;

		@include larger-than(large){
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}

		@include smaller-than(medium){
			height: auto;
			padding: 0 15px 5px 0;
		}
	}

	&:hover{
		@include larger-than(medium){
			background: white;

			span{
				color: $dark-orange;
			}

			.gig-listen a{
				background: $spotify-green;
			}

			.gig-link a{
				background: $songkick-pink;
			}
		}
	}

	.gig-listen a:focus{
		background: $spotify-green;
		outline: 0;
	}

	.gig-link a:focus{
		background: $songkick-pink;
		outline: 0;
	}
}

.gig-artist, .gig-date, .gig-venue{
	width: 1px;
	white-space: nowrap;

	&:after{
		position: absolute;
		left: 20px;
		top: 0;
		font-weight: 400;

		@include larger-than(medium){
			display: none;
		}
	}
}
.gig-artist{
	@include smaller-than(large){
		margin-top: 15px;
	}

	&:after{
		content: 'artist';
	}
}

.gig-date:after{
	content: 'date';
}

.gig-venue:after{
	content: 'venue';
}

td.gig-listen, td.gig-link{
	width: 60px;
	padding-left: 10px;
	text-align: center;

	@include larger-than(medium){
		box-sizing: content-box;
	}

	@include smaller-than(medium){
		padding: 15px 15px 10px;
		width: 100%;
	}

	a{
		width: 100%;
		height: 30px;
		padding: 0.25em 0.75em;
		background: $trans-white;

		@include smaller-than(medium){
			display: block;
			text-align: center;
		}

		&:after{
			top: 3px;
			margin-left: 0.25em;
			font-size: 1.2em;
		}
	}
}

td.gig-link{
	@include larger-than(medium){
		padding-right: 15px;
	}

	@include smaller-than(medium){
		padding-top: 0;
	}
}

.gig-link{
	text-align: right;
}