.clearfix:before, .city-playlist-wrapper:before, .clearfix:after, .city-playlist-wrapper:after {
  display: table;
  content: "";
  visibility: hidden; }
.clearfix:after, .city-playlist-wrapper:after {
  clear: both; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?ctq5u1");
  src: url("/fonts/icomoon/icomoon.eot?#iefix-ctq5u1") format("embedded-opentype"), url("/fonts/icomoon/icomoon.woff?ctq5u1") format("woff"), url("/fonts/icomoon/icomoon.ttf?ctq5u1") format("truetype"), url("/fonts/icomoon/icomoon.svg?ctq5u1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  padding: 8em 8.5em;
  font: 400 14px "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  color: white;
  background: #fdbd10;
  background: -moz-linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  background: -webkit-linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  background: linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbd10', endColorstr='#f36f21',GradientType=1 ); }

::-moz-selection {
  color: #f36f21;
  text-shadow: 3px 3px white; }

::selection {
  background: Turquoise;
  color: white; }

li {
  list-style-type: none; }

h2 {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 0.25em; }

h3 {
  font-size: 2em;
  font-weight: 400; }

p {
  font-size: 2em; }
  p + p {
    margin-top: 1em; }

a {
  text-decoration: none;
  color: white;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

.homepage-header {
  margin-bottom: 6em; }
  .homepage-header h1 {
    margin-bottom: 0.2em;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 8em; }
  .homepage-header span {
    display: block;
    margin-top: 1em; }
  .homepage-header .locate-me-btn {
    font-weight: 700; }
    .homepage-header .locate-me-btn:after {
      display: inline-block;
      font-family: icomoon;
      content: '\e900';
      font-size: 0.5em;
      padding-left: 0.5em; }

.city-list {
  width: 80%; }

.city-list-item {
  position: relative;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 4em;
  font-weight: 700;
  border: 6px solid white;
  cursor: pointer; }
  .city-list-item:hover svg {
    display: inline-block;
    color: transparent; }
  .city-list-item:hover a {
    opacity: 0; }
  .city-list-item a {
    display: block;
    padding: 0.25em 0 0.3em 0.5em;
    color: white; }
  .city-list-item svg {
    display: none;
    fill: white;
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: -1px; }

.city-playlist-wrapper {
  margin-top: 4em; }

.city-playlist {
  float: left;
  width: 66.666667%;
  height: 800px; }

.gig-info-list {
  float: left;
  height: 800px;
  padding-top: 80px;
  margin-left: -8px;
  background: #282828;
  border-left: 1px solid #282828;
  overflow: auto; }
  .gig-info-list ul {
    border-top: 1px solid #181818; }
  .gig-info-list li a {
    display: inline-block;
    height: 46px;
    line-height: 45px;
    padding: 0 2em;
    border-bottom: #282828 solid 1px;
    background: #181818;
    transition: 0.2s all ease; }
    .gig-info-list li a:hover {
      background: #282828;
      transition: 0.2s all ease; }

.gig-info-link {
  font-weight: 200; }
  .gig-info-link span {
    font-size: 0.7em; }

/*# sourceMappingURL=style.css.map */
