.clearfix:before, .city-playlist-wrapper:before, .clearfix:after, .city-playlist-wrapper:after {
  display: table;
  content: "";
  visibility: hidden; }
.clearfix:after, .city-playlist-wrapper:after {
  clear: both; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?ctq5u1");
  src: url("/fonts/icomoon/icomoon.eot?#iefix-ctq5u1") format("embedded-opentype"), url("/fonts/icomoon/icomoon.woff?ctq5u1") format("woff"), url("/fonts/icomoon/icomoon.ttf?ctq5u1") format("truetype"), url("/fonts/icomoon/icomoon.svg?ctq5u1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  padding: 8em 8.5em;
  font: 400 14px "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  color: white;
  background: #fdbd10;
  background: -moz-linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  background: -webkit-linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  background: linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbd10', endColorstr='#f36f21',GradientType=1 );
  height: 100%; }
  @media (max-width: 50em) {
    body {
      padding: 2.5em 3em; } }

li {
  list-style-type: none; }

h2 {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 0.25em; }

h3 {
  font-size: 2em;
  font-weight: 400; }

h4 {
  font-size: 2.2em;
  font-weight: 700; }

p {
  font-size: 1.4em; }
  p + p {
    margin-top: 1em; }

a {
  text-decoration: none;
  color: white;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

.btn-rounded {
  display: inline-block;
  width: auto;
  border-radius: 2em;
  font-weight: 500; }

.icon:after {
  font-family: 'icomoon';
  position: relative; }

.locate-icon:after {
  content: '\e900'; }

.twitter-icon:after {
  content: '\e902'; }

.fbook-icon:after {
  content: '\e901'; }

.link-icon:after {
  content: '\e903'; }

.spotify-icon:after {
  content: '\e904'; }

.songkick-icon:after {
  content: '\e905'; }

@media (max-width: 50em) {
  .homepage {
    font-size: 60%; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.homepage-header {
  margin-bottom: 6em;
  opacity: 0;
  animation-duration: 2s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn; }
  .homepage-header h1 {
    margin-bottom: 0.2em;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 8em; }
    .homepage-header h1 a:hover {
      color: rgba(255, 255, 255, 0.8); }
  .homepage-header span {
    display: block;
    margin-top: 1em; }
  .homepage-header .locate-me-btn {
    font-weight: 700; }
    .homepage-header .locate-me-btn:after {
      font-size: 0.5em;
      padding-left: 0.5em; }
    .homepage-header .locate-me-btn:hover, .homepage-header .locate-me-btn:hover:after {
      color: rgba(255, 255, 255, 0.8); }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0.2em);
    transform: translateY(0.2em); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.city-list-item:nth-child(1) {
  animation-delay: 0.15s; }

.city-list-item:nth-child(2) {
  animation-delay: 0.3s; }

.city-list-item:nth-child(3) {
  animation-delay: 0.45s; }

.city-list-item:nth-child(4) {
  animation-delay: 0.6s; }

.city-list-item {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 4em;
  font-weight: 700;
  border: 6px solid white;
  border-radius: 1px;
  cursor: pointer;
  opacity: 0;
  animation-duration: 2s;
  transition-timing-function: ease-out;
  animation-fill-mode: both;
  animation-name: fadeInUp; }
  .city-list-item:hover svg {
    display: inline-block;
    color: transparent; }
  .city-list-item:hover a {
    opacity: 0; }
  .city-list-item a {
    display: block;
    padding: 0.25em 0 0.3em 0.5em;
    color: white; }
  .city-list-item svg {
    display: none;
    fill: white;
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: -1px; }

.global-home-link {
  position: absolute;
  top: 1em;
  left: 1.5em;
  font-size: 1.2em; }
  .global-home-link:hover {
    color: rgba(255, 255, 255, 0.8); }
  .global-home-link span {
    font-size: 1.5em;
    vertical-align: sub; }

.city-playlist-page {
  text-align: center; }

.city-playlist-header h2 {
  display: inline; }
.city-playlist-header h3 {
  width: 60%;
  margin: 0 auto; }
@media (max-width: 50em) {
  .city-playlist-header {
    margin-top: 4em; } }

.social-wrapper {
  display: inline-block;
  width: 80px;
  margin-right: -80px; }
  .social-wrapper ul, .social-wrapper li {
    display: inline-block; }
  .social-wrapper .icon {
    display: inline-block;
    padding-left: 0.5em; }
    .social-wrapper .icon:after {
      color: white;
      font-size: 1.2em; }
    .social-wrapper .icon:hover:after {
      color: rgba(255, 255, 255, 0.8); }

.playlist-subscribe-link {
  padding: 0.5em 1em;
  margin: 2em 0 2.3em;
  background: #222;
  font-size: 1.6em; }
  .playlist-subscribe-link:after {
    top: 3px;
    margin-left: 10px; }
  .playlist-subscribe-link:hover {
    background: #1ed760; }

.city-playlist-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto; }

.gig-info-list table {
  width: 100%;
  margin-top: -1px;
  border-spacing: 0 1px; }

.gig-info-list-header th {
  height: 80px;
  padding: 0 0 5px 14px;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  vertical-align: bottom; }

.gig-info-list-item {
  position: relative;
  font-weight: 500;
  text-align: left;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.2);
  letter-spacing: 0.25px; }
  .gig-info-list-item span {
    display: inline-block;
    width: 100%;
    height: 45px;
    padding: 15px; }
  .gig-info-list-item:hover {
    background: white; }
    .gig-info-list-item:hover span {
      color: #f36f21; }
    .gig-info-list-item:hover .gig-listen a {
      background: #1ed760; }
    .gig-info-list-item:hover .gig-link a {
      background: #f80046; }

.gig-listen, .gig-link {
  text-align: right; }
  .gig-listen a, .gig-link a {
    height: 30px;
    padding: 0.25em 0.75em;
    background: rgba(255, 255, 255, 0.2); }
    .gig-listen a:after, .gig-link a:after {
      top: 3px;
      margin-left: 0.25em;
      font-size: 1.2em; }

.gig-link {
  padding-right: 15px;
  width: 135px; }

.gig-link {
  text-align: right; }

/*# sourceMappingURL=style.css.map */
