.clearfix:before, .city-playlist-wrapper:before, .clearfix:after, .city-playlist-wrapper:after {
  display: table;
  content: "";
  visibility: hidden; }
.clearfix:after, .city-playlist-wrapper:after {
  clear: both; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?ctq5u1");
  src: url("/fonts/icomoon/icomoon.eot?#iefix-ctq5u1") format("embedded-opentype"), url("/fonts/icomoon/icomoon.woff?ctq5u1") format("woff"), url("/fonts/icomoon/icomoon.ttf?ctq5u1") format("truetype"), url("/fonts/icomoon/icomoon.svg?ctq5u1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  padding: 8em 8.5em;
  font: 400 14px "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  color: white;
  background: #fdbd10;
  background: -moz-linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  background: -webkit-linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  background: linear-gradient(45deg, #fdbd10 1%, #f36f21 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbd10', endColorstr='#f36f21',GradientType=1 ); }

li {
  list-style-type: none; }

h2 {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 0.25em; }

h3 {
  font-size: 2em;
  font-weight: 400; }

p {
  font-size: 1.4em; }
  p + p {
    margin-top: 1em; }

a {
  text-decoration: none;
  color: white;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

.homepage-header {
  margin-bottom: 6em;
  opacity: 0;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeIn; }
  .homepage-header h1 {
    margin-bottom: 0.2em;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 8em; }
    .homepage-header h1 a:hover {
      color: rgba(255, 255, 255, 0.8); }
  .homepage-header span {
    display: block;
    margin-top: 1em; }
  .homepage-header .locate-me-btn {
    font-weight: 700; }
    .homepage-header .locate-me-btn:after {
      display: inline-block;
      font-family: icomoon;
      content: '\e900';
      font-size: 0.5em;
      padding-left: 0.5em; }
    .homepage-header .locate-me-btn:hover, .homepage-header .locate-me-btn:hover:after {
      color: rgba(255, 255, 255, 0.8); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 0.25%, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.city-list {
  width: 80%;
  opacity: 0;
  animation-duration: 1.5s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: fadeInUp; }

.city-list-item {
  position: relative;
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 4em;
  font-weight: 700;
  border: 6px solid white;
  border-radius: 1px;
  cursor: pointer; }
  .city-list-item:hover svg {
    display: inline-block;
    color: transparent; }
  .city-list-item:hover a {
    opacity: 0; }
  .city-list-item a {
    display: block;
    padding: 0.25em 0 0.3em 0.5em;
    color: white; }
  .city-list-item svg {
    display: none;
    fill: white;
    position: absolute;
    top: 0;
    left: 0;
    right: -1px;
    bottom: -1px; }

.global-home-link {
  position: absolute;
  font-size: 2.5em;
  top: 0.5em; }
  .global-home-link:hover {
    color: rgba(255, 255, 255, 0.8); }

.city-playlist-page h2 {
  display: inline; }

.social-wrapper {
  display: inline-block; }
  .social-wrapper ul, .social-wrapper li {
    display: inline-block; }
  .social-wrapper .icon {
    margin-left: 1em; }
    .social-wrapper .icon:after {
      font-family: 'icomoon';
      color: white;
      font-size: 2em; }
    .social-wrapper .icon:hover:after {
      color: rgba(255, 255, 255, 0.8); }

.twitter-share-icon:after {
  content: '\e902'; }

.fbook-share-icon:after {
  content: '\e901'; }

.city-playlist-wrapper {
  margin-top: 4em; }

.city-playlist {
  float: left;
  width: 50%;
  height: 800px; }

.gig-info-list {
  float: left;
  margin: 80px 0 0 1em; }
  .gig-info-list li {
    height: 45px;
    margin-bottom: 1px;
    text-align: right; }

.gig-link {
  position: relative;
  display: block;
  padding: 1em 1em 1em 0.5em;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.1);
  text-align: left; }
  .gig-link:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1em;
    content: '';
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 23px solid transparent;
    border-right: 1em solid rgba(255, 255, 255, 0.1); }
  .gig-link:hover {
    background: white;
    color: #f36f21; }
    .gig-link:hover:before {
      border-right-color: white; }

.gig-date {
  margin-right: 0.5em; }

/*# sourceMappingURL=style.css.map */
