// =======================
// Classes
// =======================
.clearfix{
	&:before, &:after{
		display: table;
		content: "";
		visibility: hidden;
	}
	&:after {
		clear: both;
	}
}


// =======================
// Colors
// =======================
$black: #222;
$dark-orange: #f36f21;
$light-orange: #fdbd10;

// =======================
// Fonts
// =======================
@font-face{
	font-family: 'icomoon';
	src:url('/fonts/icomoon/icomoon.eot?ctq5u1');
	src:url('/fonts/icomoon/icomoon.eot?#iefix-ctq5u1') format('embedded-opentype'),
		url('/fonts/icomoon/icomoon.woff?ctq5u1') format('woff'),
		url('/fonts/icomoon/icomoon.ttf?ctq5u1') format('truetype'),
		url('/fonts/icomoon/icomoon.svg?ctq5u1#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


// =======================
// Base
// =======================
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	padding: 8em 8.5em;
  font: 400 14px "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  color: white;
  background: #fdbd10;
  background: -moz-linear-gradient(45deg,  $light-orange 1%, $dark-orange 100%);
  background: -webkit-linear-gradient(45deg,  $light-orange 1%,$dark-orange 100%);
  background: linear-gradient(45deg,  $light-orange 1%,$dark-orange 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdbd10', endColorstr='#f36f21',GradientType=1 );
}

::-moz-selection { color: $dark-orange; text-shadow: 3px 3px white;}
::selection { background: Turquoise; color: white;}

li{
	list-style-type: none;
}


// =======================
// Typography
// =======================
h2{
	font-weight: 700;
	font-size: 4em;
	margin-bottom: 0.25em;
}

h3{
	font-size: 2em;
	font-weight: 400;
}

p{
	font-size: 2em;

	&+p{
		margin-top: 1em;
	}
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;

  &:hover{
  	text-decoration: none;
  }
}


// =======================
// Homepage
// =======================
.homepage-header{
	margin-bottom: 6em;

	h1{
		margin-bottom: 0.2em;
		line-height: 1.1;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		font-size: 8em;
	}

	span{
		display: block;
		margin-top: 1em;
	}

	.locate-me-btn{
		font-weight: 700;

		&:after{
			display: inline-block; //To prevent underline on hover, for some reason
			font-family: icomoon;
			content: '\e900';
			font-size: 0.5em;
			padding-left: 0.5em;
		}
	}
}

.city-list{
	width: 80%;
}

.city-list-item{
	position: relative;
	width: 100%;
	margin-bottom: 0.5em;
	font-size: 4em;
	font-weight: 700;
	border: 6px solid white;
	cursor: pointer;

	&:hover{
		svg{
			display: inline-block;
			color: transparent;
		}

		a{
			opacity: 0;
		}
	}
	a{
		display: block;
		padding: 0.25em 0 0.3em 0.5em;
		color: white;
	}

	svg{
		display: none;
		fill: white;
		position: absolute;
		top: 0;
		left: 0;
		right: -1px;
		bottom: -1px;
	}
}


// =======================
// City Playlist
// =======================
.city-playlist-wrapper{
	margin-top: 4em;
	@extend .clearfix;
}

.city-playlist{
	float: left;
	width: 66.666667%;
	height: 800px;
}

.gig-info-list{
	float: left;
	height: 800px;
	padding-top: 80px;
	margin-left: -8px;
	background: #282828;
	border-left: 1px solid #282828;
	overflow: auto;

	ul{
		border-top: 1px solid #181818;
	}

	li a{
		display: inline-block;
		height: 46px;
		line-height: 45px;
		padding: 0 2em;
		border-bottom: #282828 solid 1px;
		background: #181818;
		transition: 0.2s all ease;

		&:hover{
			background: #282828;
			transition: 0.2s all ease;
		}
	}
}

.gig-info-link{
	font-weight: 200;

	span{
		font-size: 0.7em;
	}
}