<div class="city-page-header">
	<a href="/" class="global-home-link">&#8592;</a>
</div>


<div class="city-playlist-page">
	<h2>Portland</h2>
	<div class="social-wrapper">
		<ul>
			<li><a class="twitter-share-icon icon" href=""></a></li>
			<li><a class="fbook-share-icon icon" href=""></a></li>
		</ul>
	</div>
	<p>Below is a list of tracks from artists performing in Portland over the next few weeks.</p>

	<div class="city-playlist-wrapper">
		<iframe class="city-playlist" src="https://embed.spotify.com/?uri=spotify%3Auser%3Aspotifydiscover%3Aplaylist%3A6n4IVPh83RaQYAosOrBSWl" frameborder="0" allowtransparency="true">
		</iframe>
		<div class="gig-info-list">
			<ul>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Tuesday, 2/16</span>
						<span class="gig-venue">Mississippi Studios</span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Tuesday, 2/16</span>
						<span class="gig-venue">Doug Fir Lounge and Bar<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Wednesday, 2/17</span>
						<span class="gig-venue">Mississippi Studios<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Wednesday, 2/17</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Wednesday, 2/17</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Thursday, 2/18</span>
						<span class="gig-venue">Doug Fir Lounge and Bar<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Thursday, 2/18</span>
						<span class="gig-venue">Mississippi Studios<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Friday, 2/19</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Friday, 2/19</span>
						<span class="gig-venue">Mississippi Studios<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Friday, 2/19</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Friday, 2/19</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Friday, 2/19</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Friday, 2/19</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Saturday, 2/20</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Saturday, 2/20</span>
						<span class="gig-venue">Doug Fir Lounge and Bar<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Saturday, 2/20</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Saturday, 2/20</span>
						<span class="gig-venue">Mississippi Studios<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Saturday, 2/20</span>
						<span class="gig-venue">Doug Fir Lounge and Bar<span>
					</a>
				</li>
					<a href="" class="gig-link">
						<span class="gig-date">Sunday, 2/21</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Sunday, 2/21</span>
						<span class="gig-venue">Dante's<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Sunday, 2/21</span>
						<span class="gig-venue">Doug Fir Lounge<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Sunday, 2/21</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Sunday, 2/21</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Sunday, 2/21</span>
						<span class="gig-venue">Aladdin Theater<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Monday, 2/22</span>
						<span class="gig-venue">Doug Fir Lounge<span>
					</a>
				</li>
				<li>
					<a href="" class="gig-link">
						<span class="gig-date">Monday, 2/22</span>
						<span class="gig-venue">Mississippi Studios<span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>