<a href="/" class="global-home-link"><span>&#8592;</span> Find another city</a>

<div class="city-playlist-page">
	<header class="city-playlist-header">
		<h2>{{ city.name }}</h2>
		<div class="social-wrapper">
			<ul>
				<li><a class="twitter-icon icon" href=""></a></li>
				<li><a class="fbook-icon icon" href=""></a></li>
				<li class="copy-city-url" data-clipboard-text="http://giglist.com/paris"><span class="link-icon icon"></span></li>
			</ul>
		</div>
		<h3>Below is a list of tracks from artists with shows in {{ city.name }} over the next few&nbsp;weeks.</h3>
		<a href="" target="_blank" class="playlist-subscribe-link btn-rounded icon spotify-icon">Follow this Playlist</a>
	</div>

	<div class="city-playlist-wrapper">

		<div class="gig-info-list">
			<table>
				<thead class="gig-info-list-header">
					<tr>
						<th><h4>Artist</h4></th>
						<th><h4>Date</h4></th>
						<th><h4>Venue</h4></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Tue.</span></td>
					<td class="gig-venue"><span>Doug Fir Lounge and Bar</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</span></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Tue.</span></td>
					<td class="gig-venue"><span>Doug Fir Lounge and Bar</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/17, Wed.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Wed.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Wed.</span></td>
					<td class="gig-venue"><span>Doug Fir Lounge and Bar</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/17, Wed.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Thu.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Thu.</span></td>
					<td class="gig-venue"><span>Doug Fir Lounge and Bar</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/17, Thu.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Tue.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/16, Tue.</span></td>
					<td class="gig-venue"><span>Doug Fir Lounge and Bar</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
				<tr class="gig-info-list-item">
					<td class="gig-artist"><span>Artist name</span></td>
					<td class="gig-date"><span>2/17, Wed.</span></td>
					<td class="gig-venue"><span>Mississippi Studios</span></td>
					<td class="gig-listen"><a href="" class="btn-rounded icon spotify-icon">Listen</a></td>
					<td class="gig-link"><a href="" class="btn-rounded icon songkick-icon">Info</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>