<a href="/" class="global-home-link">&lt; <span>Find another city</span></a>
<h2>{{ city.name }}</h2>
<ul>
  {{#each playlists}}
  <li><a href="/{{../city.slug}}/{{slug}}">{{name}}</a></li>
  {{/each}}
</ul>