<div class="homepage">
	<header class="homepage-header">
	  <h1><a href="">Site Title</a></h1>
	  <h3>Click below for a Spotify playlist of music currently touring in that&nbsp;city.<span>Or just <a href="" class="locate-me-btn">locate me</a></span></h3>
	</header>

	<div class="city-list">
		<ul>
			{{#cities}}
			<li class="city-list-item" id="city-{{_id}}">
		    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
		      <mask id="text-clip">
		        <rect id="bg" width="100%" height="100%" fill="white"/>
		        <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">{{name}}</text>
		      </mask>
		      <rect width="100%" height="100%" mask="url(#text-clip)"/>
		    </svg>
		    <a href="/{{slug}}">{{name}}</a>
			</li>
			{{/cities}}
		</ul>
	</div>
</div>