<header class="homepage-header">
  <h1><a href="">Site Title</a></h1>
  <h3>Click below for a Spotify playlist of music currently touring in that&nbsp;city.<span>Or just <a href="" class="locate-me-btn">locate me</a></span></h3>
</header>

<div class="city-list">
	<ul>
		<li class="city-list-item">
	    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
	      <mask id="text-clip">
	        <rect id="bg" width="100%" height="100%" fill="white"/>
	        <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Albuquerque</text>
	      </mask>
	      <rect width="100%" height="100%" mask="url(#text-clip)"/>
	    </svg>
	    <a href="/city">Albuquerque</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Atlanta</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Atlanta</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Austin</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Austin</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Boston</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Boston</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Chicago</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Chicago</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Dallas</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Dallas</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Denver</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Denver</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Fargo</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Fargo</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Green Bay</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Green Bay</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Houston</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Houston</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Iowa City</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Iowa City</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Jacksonville</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Jacksonville</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Los Angeles</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Los Angeles</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Minneapolis</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Minneapolis</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">New York City</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">New York City</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Orlando</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Orlando</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Portland</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Portland</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Talahassee</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Talahassee</a>
		</li>
		<li class="city-list-item">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100.5%" height="101%">
			  <mask id="text-clip">
			    <rect id="bg" width="100%" height="100%" fill="white"/>
			    <text x="0.5em" y="1.2em" width="100%" height="100%" fill="#000">Washington D.C.</text>
			  </mask>
			  <rect width="100%" height="100%" mask="url(#text-clip)"/>
			</svg>
			<a href="/city">Washington D.C.</a>
		</li>
	</ul>
</div>